.text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #79839c;
  margin-left: 11px;
  margin-bottom: 40px;
  margin-top: 3px;
}

.icon{
    margin-top: 3px;
}

.breadcrumbs {
    margin-top: 17px;
}