.card {
    border: none;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    width: 45vw;
    margin-left: 0px;
  }
  
  .formgroup {
    margin: 12px 36px;
  }
  
  .label {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  .input {
    border: none;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }

  .inputError {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    border-color: #fc8181;
  }
  .error {
    color: #fc8181;
    font-size: 0.75rem;
    text-align: left;
    margin-top: 0.25rem;
  }
  .button {
    margin-left: auto;
    margin-right: 36px;
    margin-bottom: 20px;
    margin-top: 25px;
    margin-left: 36px;
    width: 100%;

  }
  
  .batal {
    border-color: #6f6af8;
    border-width: medium;
    color: #6f6af8;
    border-radius: 10px;
    margin-right: 22px;
    width: 142.67px;
  }
  
  .buatAkun {
    background-color: #6f6af8;
    border-radius: 10px;
    width: 100%;
  }
  
  .iconForForm {
    color: #6f6af8;
    border-radius: 50%;
  }
  
  .iconCalendar{
    position: absolute;
    margin-left: 200px;
    margin-top: 10px;
    /* margin-left: 40%; */
  }
  
  .header {
    margin-left: 36px;
    display: flex;
    margin-bottom: 30px;
  }
  
  .title {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 2.5rem;
    letter-spacing: 0.05em;
    text-align: left;
  }
  
.formContentLogin{
  width: 90%;
  margin: auto;
  padding: 9rem 0;
}

.formContentSignup{
  width: 90%;
  margin: auto;
  padding: 1.6rem 0;
}

Button:disabled{
  opacity: 0.35;
}